.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.917969;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-5.790000px;}
._2{margin-left:-4.128000px;}
._1{margin-left:-2.784000px;}
._0{margin-left:-1.650000px;}
._3{width:1.200000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(77,77,77);}
.fs2{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:66.000000px;}
.y1{bottom:0.100000px;}
.y0{bottom:16.000000px;}
.y15{bottom:145.300000px;}
.y14{bottom:163.300000px;}
.y13{bottom:181.300000px;}
.y12{bottom:402.000000px;}
.y11{bottom:420.000000px;}
.y10{bottom:438.000000px;}
.yf{bottom:482.200000px;}
.ye{bottom:500.200000px;}
.yd{bottom:518.200000px;}
.yc{bottom:536.200000px;}
.yb{bottom:554.200000px;}
.ya{bottom:572.200000px;}
.y9{bottom:590.200000px;}
.y8{bottom:608.200000px;}
.y7{bottom:652.300000px;}
.y6{bottom:670.300000px;}
.y5{bottom:688.300000px;}
.y4{bottom:706.300000px;}
.y3{bottom:724.300000px;}
.y2{bottom:752.900000px;}
.h4{height:34.945312px;}
.h3{height:59.748047px;}
.h1{height:755.000000px;}
.h2{height:841.800000px;}
.h0{height:842.000000px;}
.w1{width:425.500000px;}
.w0{width:595.000000px;}
.x1{left:0.000000px;}
.x0{left:85.000000px;}
.x2{left:105.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-7.720000pt;}
._2{margin-left:-5.504000pt;}
._1{margin-left:-3.712000pt;}
._0{margin-left:-2.200000pt;}
._3{width:1.600000pt;}
.fs2{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:88.000000pt;}
.y1{bottom:0.133333pt;}
.y0{bottom:21.333333pt;}
.y15{bottom:193.733333pt;}
.y14{bottom:217.733333pt;}
.y13{bottom:241.733333pt;}
.y12{bottom:536.000000pt;}
.y11{bottom:560.000000pt;}
.y10{bottom:584.000000pt;}
.yf{bottom:642.933333pt;}
.ye{bottom:666.933333pt;}
.yd{bottom:690.933333pt;}
.yc{bottom:714.933333pt;}
.yb{bottom:738.933333pt;}
.ya{bottom:762.933333pt;}
.y9{bottom:786.933333pt;}
.y8{bottom:810.933333pt;}
.y7{bottom:869.733333pt;}
.y6{bottom:893.733333pt;}
.y5{bottom:917.733333pt;}
.y4{bottom:941.733333pt;}
.y3{bottom:965.733333pt;}
.y2{bottom:1003.866667pt;}
.h4{height:46.593750pt;}
.h3{height:79.664062pt;}
.h1{height:1006.666667pt;}
.h2{height:1122.400000pt;}
.h0{height:1122.666667pt;}
.w1{width:567.333333pt;}
.w0{width:793.333333pt;}
.x1{left:0.000000pt;}
.x0{left:113.333333pt;}
.x2{left:140.000000pt;}
}
